@import "../vars";

.product_table {
  margin-top: 100px;

  tr {
    line-height: 38px;
  }

  .close {
    border: 1px solid;
    border-radius: 50%;
    font-size: 22px;
    padding: 8px 10px 5px;
  }

  .price {
    text-align: center;
  }

  .spinner {
    width: 160px;

    input {
      border: none;
    }

    .btn {
      color: $accent;
      padding: 0 12px;
      border: 1px solid;
      border-radius: 50%;
      background: transparent;
      width: 38px;
      height: 38px;

      strong {
        vertical-align: sub;
      }
    }
  }
}
