.products-carousel {
  margin-top: 60px;

  .owl-carousel {
    margin-top: 60px;
  }

  .owl-nav {
    button {
      position: absolute;
      top: 50%;
      margin-top: -13px;

      span {
        font-size: 60px;
        color: #999;
      }

      &.owl-prev {
        left: -60px;
      }

      &.owl-next {
        right: -60px;
      }
    }
  }
}

.delivery-map {
  padding: 74px 0 125px;
  background-color: #ececec;
}


.delivery-time {
  margin-top: 33px;
  background: #fff;
  padding: 20px 0 30px;
  text-align: center;

  .delivery-time-text {
    padding-top: 30px;
    display: block;
  }
}

.feedback-list {
  padding: 78px 0 75px;

  .title {
    margin-bottom: 160px;
  }

  .btn {
    margin-top: 60px;
  }
}

.our-clients {
  padding: 88px 0 75px;
}
