@import "../_mixins/rem";
@import "../vars";

.small-feedback {
  padding: 120px 55px 70px;
  border: 1px solid $accent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .photo-wrapper {
    width: 193px;
    height: 193px;
    padding: 17px;
    border: 1px solid $accent;
    position: absolute;
    top: -97px;
    left: 50%;
    margin-left: -97px;
    border-radius: 50%;
    background-color: #fff;

    .photo {
      border-radius: 50%;
    }
  }

  .name {
    color: #333333;
    font-size: rem(25px);
    font-weight: 400;
    position: relative;
    margin-bottom: 60px;
    svg {
      color: #e64422;
      position: absolute;
      left: -51px;
      font-size: 35px;
    }
  }

  .text {
    p {
      color: #333333;
      font-size: rem(20px);
      font-weight: 400;
    }
  }
}

