@import "../_mixins/rem";
@import "../vars";

.small-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;

  flex-basis: 307px;
  min-height: 550px;
  margin-bottom: 80px;


  .image {

  }

  .content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 27px 20px 30px;

    .name {
      color: #333;
      font-size: rem(24px);
      font-weight: 700;
    }

    .price {
      color: $accent;
      font-size: rem(36px);
      line-height: rem(45px);
      font-weight: 400;

      svg {
        font-size: rem(16px);
      }
    }

    .structure {
      flex-grow: 1;
      display: block;
      height: 120px;
    }

    .weight {
      display: block;
      text-align: right;
      font-size: rem(14px);
      font-weight: 400;
      width: 100%;
      height: 20px;
      align-self: flex-end;
    }

    .btn {
      display: block;
      width: 100%;
      position: relative;
      margin-top: 10px;
      align-self: flex-end;
      font-size: rem(18px);
      font-weight: 400;
      line-height: rem(30px);

      svg {
        position: absolute;
        left: rem(20px);
        top: rem(15px);
      }
    }
  }
}
