.small_cart {
  width: 172px;
  display: block;
  padding: 15px 30px 10px 16px;
  position: relative;
  line-height: 20px;
  color: #e5330f;
  border: 1px solid #e5330f;
  background-color: #e5330f;

  .price {
    float: right;
    color: #fff;
    line-height: 20px;
    font-weight: 400;
  }

  &:hover {
    .small_cart_popup {
      display: block;
    }
  }

  .small_cart_popup {
    display: none;
    max-width: 550px;
    box-shadow: 0 0 6px 1px rgba(153, 153, 153, 0.54);
    padding: 47px 55px 25px;
    position: absolute;
    z-index: 10;
    width: 550px;
    background-color: #fff;
    color: #000;
    right: 0;
    top: 90px;

    .title {
      font-size: 25px;
      font-weight: 700;
      display: block;
      margin-bottom: 45px;
    }

    table {
      width: 100%;

      tr:last-child {
        border-top: 1px solid;
        line-height: 50px;
      }

      td {
        padding-bottom: 20px;
      }

      caption {
        text-align: center;
      }

      .name, .price {
        color: #333;
        font-size: 24px;
        font-weight: 400;
      }

      .weight {
        color: #666;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
